.hero-container {
    width:90%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:5%;
    margin-bottom:5%;
    padding:30px;
}

.hero-content {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-right:20px;
}

.hero-title-text {
    color:#86C232;
    font-size:70px;
    font-weight:500;
    margin-bottom:5px;
}

.hero-description {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom:50px;
}

.hero-contact-btn {
    text-decoration:none;
    background-color: #86C232;
    color:#FFFFFF;
    font-size:30px;
    font-weight:500;
    padding:10px 25px;
}

.hero-contact-btn:hover {
    background-color: #659c19;
}

.img {
    height:350px;
    width:350px;
    border-radius:50%;
    object-fit:cover;
    filter: grayscale(10%);
    border:10px solid #474B4F; 
    transition: transform 0.3s;
}

.img:hover {
    transform: scale(1.05);
    cursor:pointer;
}

@media screen and (max-width: 768px) {
    .hero-container {
        flex-direction: column-reverse ;
    }

    .hero-content {
        align-items:center;
        text-align:center;
        margin-right:0px;
    }

    .hero-title-text {
        font-size:50px;
        font-weight:500;    
    }

    .hero-description {
        font-size: 25px;
        margin-bottom:20px;
    }

    .hero-contact-btn {
        font-size:25px;
        font-weight:400;
        padding:10px 25px;
    }

    .img {
        width:60%;
        height:auto;
    }
}